<%- include("partials/header")%>
<h1>Compose</h1>
<form action="/compose" method="post">
    <div class="mb-3 form-group">
        <label class="form-label">Title</label>
        <input name="titleInput" type="text" class="form-control">
    </div>
    <div class="mb-3 form-group">
        <label class="form-label">Post</label>
        <textarea name="postInput" class="form-control" rows="3"></textarea>
    </div>
  <button type="submit" class="btn btn-primary">Publish</button>
</form>

<%- include("partials/footer")%>